<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1">
    <test name="loginTest">
        <classes>
            <class name="hsenid.webapp.common.LoginTest"/>
        </classes>
    </test>

    <test name="loginTestSelenium">
        <classes>
            <class name="hsenid.webapp.common.LoginTestSelenium"/>
        </classes>
    </test>

    <test name="translateTest">
        <classes>
            <class name="hsenid.webapp.translator.TranslatorTest">
            </class>
        </classes>
    </test>
    <test name="translateTestSelenium">
        <classes>
            <class name="hsenid.webapp.translator.TranslatorTestSelenium">
            </class>
        </classes>
    </test>

    <test name="checkUserNameTest">
        <classes>
            <class name="hsenid.webapp.usermanagement.adduser.CheckUserNameTest"/>
        </classes>
    </test>
    <test name="checkUserNameTestSelenium">
        <classes>
            <class name="hsenid.webapp.usermanagement.adduser.CheckUserNameTestSelenium"/>
        </classes>
    </test>

</suite>
