<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" verbose="1">
    <test name="login_test">
        <classes>
            <class name="hsenid.webapp.LoginTest"/>
        </classes>
    </test>
    <test name="translate_test">
        <!--
                <parameter name="toLang" value="en"/>
                <parameter name="fromLang" value="fr"/>
                <parameter name="text" value="child"/>
                <parameter name="expected" value="enfant"/>
        -->
        <classes>
            <class name="hsenid.webapp.TranslatorTest">
            </class>
        </classes>
    </test>
</suite>
