<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    
    <listener>
        <listener-class>hsenid.webapp.ContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>hsenid.webapp.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
  
    <servlet>
        <servlet-name>Translate</servlet-name>
        <servlet-class>hsenid.webapp.Translator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Translate</servlet-name>
        <url-pattern>/translator</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckUserName</servlet-name>
        <servlet-class>hsenid.webapp.CheckUserName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserName</servlet-name>
        <url-pattern>/checkusername</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>hsenid.webapp.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Load</servlet-name>
        <servlet-class>hsenid.webapp.Load</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Load</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>hsenid.webapp.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>hsenid.webapp.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    
</web-app>
